
# History files
.Rhistory
.Rapp.history

# R profile
.Rprofile

# Session Data files
.RData

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
.Rproj
/.Rproj
/rsconnect
*.rds
*.h5

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3 # Camila added this from Hadley's example. I'll just leve them...
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
